* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar_container{
    display: flex;
}
a{
    text-decoration: none;
}
.sidebar {
    background-color: #08085E;
    color: white;
    height: auto;
}

.icon {
    color: white;
    font-size: 25px;
}

.link-text{
    font-size: 20px;
}

.top_section{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.bars{
    font-size: 26px;
    padding-left: 20%;
}

.barsOpen{
    font-size: 26px;
    padding-right: 5%;
}

.linksidebar{
    display: flex;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.linksidebar:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background-color: rgb(45, 51, 89)
}

.App {
    text-align: center;
}

.App-logo {
    margin-top: 20%;
    margin-left: 3%;
    margin-bottom: 20%;
    height: 14vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}