.notify-page{
    display: flex;
    justify-content: center;
    align-items: center;

    .notify-card{
        width: 95%;
    }
}

.notify-card__title {
    h1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 20px;
    }
}

.container-notification-form{
    align-items: center;
    display: flex;
    justify-content: center;

    .card-notification-form{
        width: 95%;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

.notify-buttons {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    .button {
        margin: 10px;
        width: 100px;
        height: 30px;
        border-radius: 301px;
        border : 1px solid gray;
        cursor: pointer;
    }

    .button:hover,
    .button:focus {
        color: #f87d20;
        border-color: #f87d20;
        background: #fff;
        border: 1px solid gray;
    }
}

.label-form{
    margin-right: 3%;
}
.input-form{
    margin-left: 2%;
    border-radius: 301px;
    border: 1px solid gray;
    height: 30px;
    padding-left: 7px;
}

.inputEdit{
    height: 30px;
    border-radius: 30px;
    padding-left: 8px;
    border: 1px solid #f87d20;
}